body {
    color: white;
    background-color: black;
    font-family: sans-serif;
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.topnav {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    width: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.topnav a:hover{
    background-image: linear-gradient(to right, lightgreen, rgb(4, 185, 245), rgb(0, 55, 255));
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.5s ease-in-out;
}

.center {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 8vw;
    line-height: 0.9;
    text-align: right;
    z-index: 1;
    margin-left: 38vw;
    margin-top: 10vw;
    margin-bottom: 8vw;


}

.header-image {
    position: absolute;
    z-index: -1;
    left: 0px;
}

.subtitle {
    font-size: 2.2vw;
    font-weight: lighter;
}

h2 {
    font-size: 4vw;
    margin-top: 20px;
}

.section-title {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}

.section-content {
    margin-left: 20px;
    font-size: 20px;
}
.section-content ul {
    margin-top: 10px;
    list-style-type: square;
}
.section-content ul li {
    margin-top: 5px;
}
.faded {
    opacity: 0;
}
.colored-text{
    background-image: linear-gradient(to right, rgb(145, 238, 145), rgb(4, 185, 245), rgb(0, 55, 255));
    -webkit-background-clip: text;
    color: transparent;
}

.button-container a {
    color: White;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    display: inline-block;
}

.button-container a:hover{
    background-image: linear-gradient(to right, lightgreen, rgb(4, 185, 245), rgb(0, 55, 255));
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.5s ease-in-out;
}

.collapsible {
    cursor: pointer;
  }
  
.collapsible + .content {
    display: none;
    ransition: display 0.2s;
}

.collapsible.active + .content {
    display: block;
}

#canvas {
    width: 373px;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    background-color: #141414;
    width: 300px;
    height: 150px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.overlay{
    position: absolute;
    margin-top: 150px;
    margin-left: -270px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    body {
        margin-left: 7%;
        margin-right: 7%;
    }

    .topnav {
        display: none;
    }

    h1 {
        margin-top: 7vw;
    }

    h2 {
        margin-top: 2px;
        font-size: 5vw;
    }

    .subtitle {
        display: none;
    }

    .section-content {
        font-size: 3.5vw;
    }

    .container {
        width: 100%;
        align-items: center;
    }

    .button-container a {
        font-size: 20px;
        margin-bottom: 2vw;
        margin-top: 2vw;
    }

  }